<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dreams</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <table class="table">
        <tr class="table__header">
            {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr class="table__row" href="{{ url_for('visualize_a_dream', dream_id=row[0])}}">
                {% for cell in row%}
                    <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>